.card-detail {
    width: 30%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
} 

.msg-success {
    color: #05a305;
    font-weight: bold;    
}